.darkmode{
form {
	input[type=submit] { 
		background-color:#000000;
	}
}

.form-container { 
	border: 6px solid #252829;
	background-color: #3e4244;

	label { display: block; margin-bottom: 0.5rem; }
}

.messages { 
	flex: 2;
	background-color: rgb(20, 53, 58);
	border: 6px solid #000000; 
}

input, textarea { 
	border: 2px solid #828e94;
	//border-color: #bfcfd6; 
}

#messages {
	li:nth-child(odd) { background: rgb(110, 110, 110); }
}

#moon i {
	font-size: 2.5em;
	color: white;
	margin-top: 55%;
}

#sun i {
	font-size: 2.5em;
	color: white;
	margin-top: 55%;
}

#nickname, #textarea {
    background-color: #828e94;
}

#nickname::placeholder{
    color: black;
}

label {
    color: white;
}

.new-message { 
	span { font-size: 0.8rem; 
		display: block; 
		margin-bottom: 2px; 	
	}
	background-color: black; 
	color: white;

}

.my-message {
    background-color: #446868;
    color: white;
}




}

