.colours ul button a {
    color: black;
    font-size: 1.25em;
    padding: 0.7em;
    margin-top: 5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.colours ul {
    list-style: none;
}

.colours ul button {
    display: inline;
    padding: 0.5em;
    border: none;
}

.colours {
    margin-top: 3em;
}